
mixin header(className,home,title,activePage)
  .center-wrap.header(class=className)
    if className
        span.fancy-header-overlay
    // Your header content here

    .center.flex-col
      
      .header-bar
        a(href="/").z-index-1
            .branding
        nav
            //- each page in ['index', 'about', 'developers', 'residents', 'retailers', 'contact']
            each page in [{path: "/",label:"Home"}, {path: "/about.html",label:"About"}, {path: "/developers.html",label:"Developers"}, {path: "/residents.html",label:"Residents"}, {path: "/retailers.html",label:"Retailers"}, {path: "/contact.html",label:"Contact"},]
                a(href=`${page.path}`, class=activePage === page.label.toLowerCase() ? 'active' : '')
                    span.menu-text(class=activePage === page.label.toLowerCase()  ? 'active' : '')= page.label
            //- DONT DELETE - Removed until search function is implemented
            //- .search-container
            //-     span.material-symbols-outlined.flip-horizontal.search-icon
            //-         |   search
            
            .modal-button.z-index-1
                .menu-lines-container
                    span.menu-line
                    span.menu-line
                    span.menu-line
      if home 
        .opener
          
          .opener-box
            h1#welcome.z-index-1 Welcome to
            h1#title.z-index-1
              | Building Fibre
              br
              | Networks
            h2#slogan.z-index-1
              | Future Proof Your Property with
              | the Market Leaders in Super-Fast Connectivity.
          .empty-box
      else
        .other-title-container 
          .other-title= title
            
          
